*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 241, 241);
}
.img{
    height: 50vh;
    margin-left:25vw ;
    margin-top: 5vh;
    border: 5px solid black;
    border-radius: 20px;
}
h1{
    color: black;
    text-decoration: underline;
    margin: 20px;
}
p{
    font-size: large;
    margin: 20px;
}
@media (max-width: 900px) {
    .img{
        width: 60vw;
        margin-left: 20vw;
        border: 5px solid black;
        border-radius: 20px;
    }
    h1{
        color: black;
        text-decoration: underline;
        margin: 20px;
    }
    p{
        font-size: large;
        margin: 20px;
    }
}